
body {
  background-color: lightgrey;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background:lightgrey;
}

div.header{
    padding-bottom: 50px; 
    padding-right:10px;
}

.header img{
  float: right;
  width:240px;
  height:80px;
  padding:10px;
}

.header h1{
  position: relative;
  top: 18px;
  left: 10px;
  text-align:center;
}

/* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}



/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Right-aligned link */
.navbar label {
  cursor:pointer;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.navbar label:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar label.active {
  background-color: #666;
  color: white;
}

.main {
    padding:10px;
}

.page_link {
    padding:10px;
    margin:10px;
    background:grey;
}

.page_link img {
    height:20px;
    margin-right:10px;
}

.page_link a{
    text-align: center;
}



/* Login popup window */
.modal-btn {
  padding: 10px 20px;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  outline: solid blue 2px;
  cursor: pointer;
}

#modal-toggle {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  position: fixed;
  padding: 15px;
  padding-top: 50px;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 550px;
  max-height: 98%;
  width: 70%;
  max-width: 600px;
  text-align: center;
  transform: translateX(125%);
}

.modal-backdrop {
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  transform: scale(0);
}

#modal-toggle:checked ~ .modal-backdrop {
  opacity: 1;
  background-color: rgba(0, 70, 62, 0.5);
  z-index: 998;
  transform: scale(1);
}

#modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  cursor: auto;
  z-index: 999;
  transform: translateX(0%);
}

@media (max-width: 600px) {
  #modal-toggle:checked ~ .modal-backdrop {
    opacity: 0;
  }

  .modal-content {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}
.modal-close-btn {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
 position: absolute;
    right: 10px;
    top: 5px;
}
.modal-close-btn svg {
  transition: 0.2s;
}
.modal-close-btn svg line {
  stroke-width: 5px;
  stroke: grey;
}
.modal-close-btn:hover svg {
  transform: rotate(90deg);
}

/* BASIC FUNCTIONALITY .tabs */
.tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.tabs > .radio {
  display: none;
}
.tabs > .radio:checked + .table + .tabs-content {
  display: block;
}
.tabs > .table {
  order: -1;
  flex-basis: 50%;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabs .tabs-content {
  width: 100%;
  display: none;
}

/* END BASIC FUNCTIONALITY .tabs */
/*  THEME for .tabs with login & sign-in  */
.tabs > .table {
  padding: 20px 0;
  text-align: center;
  border-bottom: solid #01b491 5px;
  color: grey;
  cursor: pointer;
}
.tabs > .table span {
  font-weight: 600;
}
.tabs > .table:hover {
  color: #01b491;
  background: rgba(0, 121, 107, 0.2);
}
.tabs > .radio:checked + .table {
  color: #fff;
  background: grey;
  cursor: auto;
}
.tabs > .radio:checked + .table span {
  display: inline-block;
  font-weight: 500;
  transform: scale(1.2);
  transition: 0.1s;
}

/*  END THEME for .tabs with login & sign-in  */
/*  START style login & sign up  */
.tabs > .tabs-content .login_socnet {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}
.tabs > .tabs-content .login_socnet a {
  margin: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 60px;
  text-decoration: none;
  transition: 0.2s;
}
.tabs > .tabs-content .login_socnet a:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
}
.tabs > .tabs-content .login_socnet .fa-vk {
  color: #7986CB;
}
.tabs > .tabs-content .login_socnet .fa-google-plus {
  color: #E57373;
}
.tabs > .tabs-content .login_socnet .fa-facebook {
  color: #5C6BC0;
}
.tabs > .tabs-content form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.tabs > .tabs-content form input {
  padding: 10px;
  margin: 15px 0;
  border: none;
  border-bottom: solid 1px grey;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.1s;
}
.tabs > .tabs-content form input:focus {
  transform: translateX(10px);
  outline: none;
}
.tabs > .tabs-content input[type="submit"] {
  padding: 15px 0;
  width: 100%;
  background: #01b491;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.tabs > .tabs-content input[type="submit"]:focus {
  transform: none;
}
.tabs > .tabs-content .forgot-password label {
  margin: 0 auto;
  width: 50%;
  color: grey;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
}
.tabs > .tabs-content .forgot-password label:hover {
  text-decoration: underline;
}

/*  END style login & sign up  */
.forgot-password #forgot-password-toggle {
  display: none;
}
.forgot-password .forgot-password-content {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.forgot-password .forgot-password-content input[type="email"] {
  width: 80%;
  margin-right: 0px;
  border-right: none;
}
.forgot-password .forgot-password-content input[type="submit"] {
  width: 20%;
  margin-left: 0px;
}
.forgot-pw {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: grey;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}